<!DOCTYPE html>
<html>
<head>
  <title>Gvg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
 <div id="hero-container">
            <ul class="cb-slideshow">
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
            </ul>
            
<div class="menu-top-menu-container"><ul id="menu-top-menu" class="menu"><li id="menu-item-225" class="xxx menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-225"><a href="index.html">Home</a></li>
<li id="menu-item-556" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-556"><a href="#">Properties&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
<ul class="sub-menu">
	<li id="menu-item-555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-555"><a href="search-results/index37da.html?search_city=San+Francisco&amp;search_lat=37.7749295&amp;search_lng=-122.41941550000001&amp;search_category=0&amp;search_type=0&amp;search_min_price=&amp;search_max_price=">Properties List</a></li>
	<li id="menu-item-557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-557"><a href="properties/elegant-apartment/index.html">Single Property</a></li>
	<li id="menu-item-558" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-558"><a href="search-results/index37da.html?search_city=San+Francisco&amp;search_lat=37.7749295&amp;search_lng=-122.41941550000001&amp;search_category=0&amp;search_type=0&amp;search_min_price=&amp;search_max_price=">Search by City</a></li>
	<li id="menu-item-559" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-559"><a href="search-results/index259b.html?search_city=San+Francisco&amp;search_lat=37.7749295&amp;search_lng=-122.41941550000001&amp;search_category=29&amp;search_type=0&amp;search_min_price=&amp;search_max_price=">Search by Category</a></li>
	<li id="menu-item-560" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-560"><a href="search-results/indexaa47.html?search_city=San+Francisco&amp;search_lat=37.7749295&amp;search_lng=-122.41941550000001&amp;search_category=0&amp;search_type=10&amp;search_min_price=&amp;search_max_price=">Search by Type</a></li>
	<li id="menu-item-561" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-561"><a href="search-results/indexea21.html?search_city=San+Francisco&amp;search_lat=37.7749295&amp;search_lng=-122.41941550000001&amp;search_category=0&amp;search_type=0&amp;search_min_price=&amp;search_max_price=700000">Search by Price</a></li>
</ul>
</li>
<li id="menu-item-2459" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2459"><a href="#">IDX&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
<ul class="sub-menu">
	<li id="menu-item-2460" class="menu-item menu-item-type-post_type menu-item-object-ds-idx-listings-page menu-item-2460"><a href="idx/listings/idx-test/index.html">dsIDXpress Listings</a></li>
	<li id="menu-item-2461" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2461"><a href="dsidxpress-single-listing-shortcode/index.html">dsIDXpress Single Listing Shortcode</a></li>
	<li id="menu-item-2462" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2462"><a href="dsidxpress-listings-shortcode/index.html">dsIDXpress Listings Shortcode</a></li>
</ul>
</li>
<li id="menu-item-562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-562"><a href="#">Agents&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
<ul class="sub-menu">
	<li id="menu-item-5446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5446"><a href="our-agents/index.html">Agents List</a></li>
	<li id="menu-item-563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-563"><a href="agents/jane-smith/index.html">Agent Page</a></li>
</ul>
</li>
<li id="menu-item-5449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5449"><a href="customers/index.html">Customers</a></li>
<li id="menu-item-269" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-269"><a href="blog/index.html">Blog</a></li>
<li id="menu-item-564" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-564"><a href="#">Features&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
<ul class="sub-menu">
	<li id="menu-item-578" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-578"><a href="front-end-property-submission/index.html">Front-end Property Submission</a></li>
	<li id="menu-item-588" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-588"><a href="reales-wp-custom-widgets/index.html">Custom Widgets</a></li>
	<li id="menu-item-595" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-595"><a href="reales-wp-shortcodes/index.html">Reales WP Shortcodes</a></li>
</ul>
</li>
<li id="menu-item-519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-519"><a href="contact-us/index.html">Contact Us</a></li>
</ul></div>
            <div class="home-caption">
                <div class="home-title">Now it's easy to find your future home</div>
                <div class="home-subtitle">With Reales - Real Estate HTML Template</div>
                <a href="#" class="btn btn-lg btn-black">Learn More</a>
            </div>
            
        </div>
<body>
Grand Vault project
<%= yield %>

</body>
</html>

