 <ul class="main-nav">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Career</a></li>
                  <li class="dropdown">
                    <a href="#">Residential</a>
                    <ul class="drop-nav">
                      <li><a href="#">Projects</a></li>
                      <li><a href="#">NRI's</a></li>
                      <li><a href="#">Referrals</a></li>
                     
                           
                    </ul>
                  </li>
                   <li class="dropdown">
                    <a href="#">Commercial</a>
                    <ul class="drop-nav">
                      <li><a href="#">Projects</a></li>                   
                      
                          
                    </ul>
                  </li>
                    <li><a href="#">News & Media</a></li> 
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">login</a></li>
                </ul>